* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abyssinica SIL' ,serif;
}
.home-section {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg , black 70% , #ff9900 30%);
}
#navbar {
    background: linear-gradient(90deg , black 70% , #ff9900 30%);
}
#logo {
    margin-left: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #ff9900;
    letter-spacing: 2px;
}
.navbar-nav {
    margin-left: 50px;
    margin-top: 6px;
}
.nav-item .nav-link {
    margin-left: 10px;
    font-weight: bold;
    color: white;
    font-size: 16px;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 2px;
    transition: 0.5s ease;
}
.nav-item .nav-link:hover {
    color: #ff9900;
}
#btncv{
    background: transparent;
    border: 2px solid black;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
}
@media screen and (max-width:991px) {
    #btncv {
        border: 2px solid #ff9900;
        color: #ff9900;
        margin-left: 20px;
    }   
}
.home {
    width: 100%;
    min-height: 91.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
}
.home .img{
    flex: 1 1 400px;
}
.home .img img{
    width: 76%;
    margin-left: 30px;
}
.home .content{
    flex: 1 1 400px;
    margin-left: 45px;
}
.home .content h5{
    color: white;
    letter-spacing: 3px;
    font-size: 16px;
    font-weight: bold;
}
.home .content h3{
    font-size: 50px;
    color: white;
}
.home .content h3 span{
    color: #ff9900;
    font-weight: bold;
}
.changecontent::after{
    content: ' ';
    color: #ff9900;
    font-weight: bold;
    font-size: 40px;
    animation: changetext 20s infinite linear;
}
@keyframes changetext {
    0%{content:"Software Developer";}
    25%{content:" Full Stack Developer";}
    50%{content:"Web App Designer";}
    75%{content:"Mobile App Developer";}
    100%{content:"Android App Developer";}
    
}
.home .content p{
    color: white;
    font-weight: bold;
    letter-spacing: 2px;

}
#btn1 {
    width: 150px;
    min-height: 30px;
    letter-spacing: 3px;
    border-radius: 5px;
    color: #ff9900;
    border: 2px solid #ff9900;
    background: transparent;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn1:hover{
    background-color: #ff9900;
    color: black;
    margin-bottom: 20px;
}
@media screen and (max-width:844px){
    .home-section{
        min-height: 146vh;
        background: black;
    }
    .home .content{
        margin-top: 50px;
    }
    #navbar{
        background: black;
    }
}
@media screen and (max-width:650px){
    .home-section{
        min-height: 130vh;
    }
    .img img {
        margin-top: 30px;
    }
}
@media screen and (max-width:360px){
    .home-section{
        min-height: 110vh;
    }
}

#about{
    width: 100%;
    min-height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
}
#about .card img{
    background-color: #ff9900;
    border: 2px solid black;
}
#about h3{
    color: white;
    border-bottom: 2px solid #ff9900;
    width: 150px;
}
#about h5 {
    color: white;
    font-weight: bold;
}
#about p{
    color: white;
    font-size: 15px;
}
#about h2{
    color: white;
    font-size: 17px;
}
#about h2 span{
    font-size: 15px;
    color: #ff9900;
    margin-left: 10px;
    margin-top: 10px;
}
#btncv2{
    width: 160px;
    min-height: 38px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: white;
    border: none;
    color: black;
    transition: 0.5s ease;
    cursor: pointer;
}
#btncv2:hover{
    background-color: #ff9900;
}
@media screen and (max-width:987px) {
    #about p{
        font-size:10px;
    }
}
@media screen and (max-width:767px) {
    #about{
        min-height: 150vh;
    }
    #about p{
        font-size: 17px;
    }
}
@media screen and (max-width:500px) {
    #about{
        min-height: 120vh;
    }
}

.hr {
    margin-top: 30px;
    width: 100%;
    min-height: 1px;
    background-color: #ff9900;
}

#resume{
    width: 100%;
    min-height: 100vh;
    background-color: black;
}
#resume h5{
    color: #ff9900;
    padding-top: 50px;
}
#resume h1{
    color:white;
}
#resume h3 i{
    color: #ff9900;
}
#resume h3{
    color:white;
    border-bottom: 2px solid #ff9900;
    width: 170px;
    margin-top: 30px;

}
#resume h2{
    color: white;
    margin-top: 10px;
    font-size: 26px;
}
#resume p{
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}
#resume i{
    color: #ff9900;
    margin-bottom: 20px;
}
@media screen and (max-width:767px) {
    #resume{
        min-height: 150vh;
    }
    
}
.progress-bar.custom-orange {
    background-color: #ff9900; 
}

#portfolio{
    width: 100%;
    min-height: 100vh;
    background-color: black;
}
#portfolio h1{
    color: white;
    padding-top: 15px;
    margin-bottom: 30px;
}
#portfolio p{
    color: white;
}
#portfolio .card:hover{
    transform: translateY(-10px);
}
@media screen and (max-width:770px) {
    #portfolio{
        min-height: 330vh;
    }
    
}
@media screen and (max-width:460px) {
    #portfolio{
        min-height: 270vh;
    }
    
}
@media screen and (max-width:312px) {
    #portfolio{
        min-height: 200vh;
    }
    
}
@media screen and (max-width:300px) {
    #portfolio{
        min-height: 190vh;
    }
    
}
@media screen and (max-width:280px) {
    #portfolio h1{
        padding-top: 100px;
    } 
}

#contact {
    width: 100%;
    min-height: 100vh;
    background-color: black;
}
#contact h1{
    color:white;
    border-bottom: 2px solid #ff9900;
    width: 210px;
    padding-top: 100px;
}
#contact p{
    color: white;
}
#contact input{
    width: 420px;
    margin-top: 30px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #ff9900;
    color: white;
}
#contact::placeholder{
    color: white;
}
#contact textarea{
    background: transparent;
    border: 2px solid #ff9900;
    margin-top: 20px;
    color: white;
}
#btncontact{
    width: 420px;
    min-height: 38px;
    letter-spacing: 3px;
    font-weight: bold;
    background-color: transparent;
    color: #ff9900;
    border: 2px solid #ff9900;
    margin-top: 30px;
}
#contact i{
    color: #ff9900;
    margin-top: 30px;
    margin-left: 7px;
    font-size: 20px;

}
.social-links i{
    padding-top:20px;
    margin-left: 10px;
    font-size: 20px;
}
@media screen and (max-width:995px) {
    #contact input{
        width: 350px;
    }
    #contact textarea{
        width: 350px;
    }
    #contact #btncontact{
        width: 350px;
    }
}
@media screen and (max-width:476px) {
    #contact input{
        width: 250px;
    }
    #contact textarea{
        width: 250px;
    }
    #contact #btncontact{
        width: 250px;
    }
}
@media screen and (max-width:320px) {
    #contact input{
        width: 180px;
    }
    #contact textarea{
        width: 180px;
    }
    #contact #btncontact{
        width: 180px;
    }
}
@media screen and (max-width:767px) {
    #contact{
        min-height: 150vh;
    }
    
}

#footer{
    width: 100%;
    background-color: #ff9900;
}
#footer h1{
    color: white;
    text-shadow: 0px 1px 1px black;
    padding-top: 30px;
}
#footer p{
    color: white;
    text-shadow: 0px 1px 1px;
}
.icons i{
    text-shadow: 1px 1px 1px black;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}
.copyright{
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 10px;
}
.credite{
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 20px;
}

html{
    scroll-behavior: smooth;
}
.arrow{
    position: fixed;
    border-radius: 50px;
    color: white;
    min-height: 50px;
    bottom: 40px;
    right: 50px;
    text-shadow: 1px 1px 1px black;
    text-decoration: none;
    text-align: center;
    line-height: 50px; 
}
.arrow:hover{
    color: white;
}
